body {
  background-image: linear-gradient(
    to bottom,
    rgb(241, 213, 232),
    rgb(241, 213, 232, 0)
  );
  /* text-transform: uppercase; */
  text-align: justify;
  font-family: 'Source Sans Pro', sans-serif;;
}

#title {
  color: rgba(117, 21, 88);
}

.subtitle {
  color: rgba(173, 38, 133);
}

#services-img {
  height: 400px;
  width: 70%;
  background-image: radial-gradient(circle, red 20%, yellow 40%, green 50%);
}

.list-item {
  text-decoration: none;
  list-style: none;
}
.para-text {
}

/* body {
  background-color: aquamarine;
}

h1:hover {
  color: white;
}

td,
table {
  border: 1px black solid;
}

.title {
  color: blueviolet;
}

.subtitle {
  color: crimson;
}

td:first-child {
  color: yellow;
}

h2 + a {
  color: blue;
}
----advanced selectors------ 
textarea ~ button {
  color:red;
}

ul > li {
    color: seagreen;
}

ul li a {
    color: seagreen;
}

img[src^="../images/"]{
    border: 10px black solid;
} */
