body {
  background-image: linear-gradient(
    to bottom,
    rgb(241, 213, 232),
    rgb(241, 213, 232, 0)
  );
  /* text-transform: uppercase; */
  text-align: justify;
  font-family: "Source Sans Pro", sans-serif;
}

#title {
  color: rgba(117, 21, 88);
}

.subtitle {
  color: rgba(173, 38, 133);
}

#services-img {
  height: 300px;
  width: 60%;
  background-image: radial-gradient( red, yellow, blue, green);
  border: 5px solid black;
  margin: 30px;
}

.list-item {
  text-decoration: none;
  list-style: none;
}

.about-me-img {
  width: 60vw;
  height: 300px;
  border: 5px solid black;
  padding: 01px;
  margin: 30px;
  float: right;
}

.site-table {
  display: none;
}

.container {
  background-color: white;
  height: 300px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.container-item {
  font-size: 2rem;
  background: green;
  text-align: center;
  line-height: 50px;
  margin: 10px;
  width: 70px;
  color: white;
  
}

.grid-container{
  background-color: white;
  height: 400px;
  margin: 10px;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto;
  justify-content: space-around;
  align-content: space-between;
}

.grid-item{
  font-size: 2rem;
  line-height: 50px;
  width: 70px;
  margin: 10px;
  text-align: center;
}