p {
  font-family: Sans-serif;
  color: #5b5b5b;
}
ul > li {
  padding: 2%;
  color: #374045;
  font-size: 0.9rem;
}

footer {
  text-align: center;
  padding: 1%;
  font-weight: bold;
}

#main {
  width: 100%;
  min-height: auto;
  background-color: #dddddd;
  /*   text-align:center; */
  border-radius: 5px;
  font-family: Sans-serif;
  padding-bottom: 2%;
}
#title {
  font-family: Sans-serif;
  padding-top: 6%;
  text-align: center;
}

#img-div {
  width: 90%;
  min-height: 200px;
  background: white;
  position: relative;
  margin: auto;
}
#image {
  width: 100%;
  margin-top: 5%;
}
#img-caption {
  font-size: 0.8rem;
  text-align: center;
  padding: 0 1% 2% 1%;
}
#tribute-info {
  width: 60%;
  min-height: 300px;
  /*   background:pink; */
  /*   position:relative; */
  margin: auto;
}
#tribute-link {
  color: #11698e;
}
#block {
  margin-top: 8%;
  color: #374045;
  font-size: 0.9rem;
  font-weight: light;
}

.subtitle {
  margin-bottom: 3%;
  text-align: center;
}

.content {
  width: 80%;
  min-height: 200px;
  margin: auto;
}

.desc-heading {
  font-size: 1.3rem;
  font-weight: bold;
  color: black;
  padding: 5%;
  text-align: center;
}
