body {
  background: url(https://images.unsplash.com/photo-1550966871-3ed3cdb5ed0c?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: initial;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  color: rgb(75, 46, 9);
}

#survey-form {
  width: 50%;
  background-color: rgb(75, 34, 11);
  opacity: 0.8;
  color: white;
  font-weight: lighter;
  padding: 4rem;
  font-size: 1.4rem;
 
}
#title {
  text-align: center;
  margin-top: 4.5%;
  font-size: 3rem;
}
#description {
  font-family: "Roboto", sans-serif;
  text-align: center;
  font-size: 1.3rem;
}
#name,
#email,
#number,
#dropdown, 
#textarea,
.radio-checkbox-label,
button
 {
  display: block;
  margin: 0.8rem auto 0.8rem auto;
  width: 100%;
  border: none;
  padding: 0.2rem;
 font-family: "Montserrat", sans-serif;
  
}

#btn{
  font-size: 1.5rem;
  padding: 1% 0 1% 0;
  background-color: rgba(180, 161, 161, 0.7);
  color:white;
  font-weight: bold;
}
#btn:hover{
    background-color: rgba(126, 118, 118, 0.7);

}

.checkbox{
  margin-bottom: 1rem;
}

/* button{
  width: 100%;
  font-family: "Montserrat", sans-serif;
} */
