body {
  color: #4e4848;
  background-color: #d9e4dd;
  min-width: 290px;
}
p,
li {
  font: 600 1rem "Nunito", sans-serif;
  margin-left: 4%;
}
header {
  font: bolder 3rem "Lato", sans-serif;
  margin-left: 20px;
  padding-top: 20px;
}
pre {
  background-color: #ebebeb;
  line-height: 1.5;
  padding-top: 20px;
  margin-left: 20px;
  border-left: solid 5px #7c7b7b;
}
#navbar {
  position: fixed;
  min-width: 290px;
  top: 0px;
  left: 0px;
  width: 300px;
  height: 100%;
}
#navbar ul {
  height: 88%;
  padding: 0;
  overflow-y: auto;
  overflow-x: hidden;
}
#main-doc {
  position: absolute;
  padding: 20px;
  background-color: white;
  margin-left: 310px;
  margin-bottom: 110px;
}
#navbar a {
  display: block;
  text-decoration: none;
  color: #8f384d;
  font: 800 1rem "Lato", sans-serif;
  margin: 20px;
  border-top: solid 1px black;
  padding-top: 20px;
}
#navbar a:hover {
  color: #000000;
}
.heading {
  font: 700 1.5rem "Lato", sans-serif;
  color: #8f384d;
  margin: 2% 0 0 2%;
}
